<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header">

    <!-- NAVEGACIÓN -->
    <nav class="navbar">
        <div class="container flex-between">
            <span class="navbar-brand">Apárcame!</span>
            <ul class="nav-list">
                <li><a href="#home" class="nav-link active">Inicio</a></li>
                <li><a href="#about" class="nav-link">Sobre Nosotros</a></li>
                <li><a th:href="@{/userProfile}" class="nav-link">Mi Perfil</a></li>
                <li><a th:href="@{/admin}" class="nav-link">Admin</a></li>
            </ul>
        </div>
    </nav>
</header>

</body>
</html>